// Notes!
// Sass color functions, "darken" and "lighten" are automatically replaced.
@use 'sass:color';
@use '../mastodon/functions' as *;
@use '../mastodon/variables' as *;

.simple_form .button.button-tertiary {
  color: $highlight-text-color;

  &:hover,
  &:focus,
  &:active {
    color: $white;
  }
}

.status-card__actions button,
.status-card__actions a {
  color: color.change($white, $alpha: 0.8);

  &:hover,
  &:active,
  &:focus {
    color: $white;
  }
}

// Change default background colors of columns
.interaction-modal {
  background: $white;
  border: 1px solid var(--background-border-color);
}

.rules-list li::before {
  background: $ui-highlight-color;
}

.directory__card__img {
  background: lighten($ui-base-color, 12%);
}

.account__header {
  background: $white;
}

.column-header__button.active {
  color: $ui-highlight-color;

  &:hover,
  &:active,
  &:focus {
    color: $ui-highlight-color;
  }
}

.icon-button:disabled {
  color: darken($action-button-color, 25%);
}

.getting-started__footer a {
  color: $ui-secondary-color;
  text-decoration: underline;
}

.confirmation-modal__secondary-button,
.confirmation-modal__cancel-button,
.mute-modal__cancel-button,
.block-modal__cancel-button {
  color: lighten($ui-base-color, 26%);

  &:hover,
  &:focus,
  &:active {
    color: $primary-text-color;
  }
}

.getting-started .navigation-bar {
  border-top: 1px solid var(--background-border-color);
  border-bottom: 1px solid var(--background-border-color);

  @media screen and (max-width: $no-gap-breakpoint) {
    border-top: 0;
  }
}

.search__input,
.search__popout,
.setting-text,
.report-dialog-modal__textarea,
.audio-player {
  border: 1px solid var(--background-border-color);
}

.report-dialog-modal .dialog-option .poll__input {
  color: $white;
}

.upload-progress__backdrop {
  background: $ui-base-color;
}

// Change the background colors of statuses
.focusable:focus-visible {
  background: color.adjust($white, $lightness: 4%);
}

.account-gallery__item a {
  background-color: $ui-base-color;
}

// Change the text colors on inverted background
.actions-modal ul li:not(:empty) a.active,
.actions-modal ul li:not(:empty) a.active button,
.actions-modal ul li:not(:empty) a:active,
.actions-modal ul li:not(:empty) a:active button,
.actions-modal ul li:not(:empty) a:focus,
.actions-modal ul li:not(:empty) a:focus button,
.actions-modal ul li:not(:empty) a:hover,
.actions-modal ul li:not(:empty) a:hover button,
.simple_form button:not(.button, .link-button) {
  color: $white;
}

.compare-history-modal .report-modal__target,
.report-dialog-modal .poll__option.dialog-option {
  border-bottom-color: darken($ui-base-color, 4%);
}

.report-dialog-modal__container {
  border-top-color: darken($ui-base-color, 4%);
}

.dialog-modal__content__preview {
  background: #fff;
  border-bottom: 1px solid var(--modal-border-color);
}

.reactions-bar__item:hover,
.reactions-bar__item:focus,
.reactions-bar__item:active {
  background-color: $ui-base-color;
}

.reactions-bar__item.active {
  background-color: color.mix($white, $ui-highlight-color, 80%);
  border-color: color.mix(
    lighten($ui-base-color, 8%),
    $ui-highlight-color,
    80%
  );
}

.media-modal__overlay .picture-in-picture__footer {
  border: 0;
}

.picture-in-picture__header {
  border-bottom: 0;
}

.announcements,
.picture-in-picture__footer {
  border-top: 0;
}

.icon-with-badge__badge {
  border-color: $white;
  color: $white;
}

.column-settings__hashtags .column-select__option {
  color: $white;
}

.dashboard__quick-access,
.focal-point__preview strong,
.admin-wrapper .content__heading__tabs a.selected {
  color: $white;
}

.flash-message.warning {
  color: lighten($gold-star, 16%);
}

.boost-modal__action-bar,
.confirmation-modal__action-bar,
.mute-modal__action-bar,
.block-modal__action-bar,
.onboarding-modal__paginator,
.error-modal__footer {
  background: darken($ui-base-color, 6%);

  .onboarding-modal__nav,
  .error-modal__nav {
    &:hover,
    &:focus,
    &:active {
      background-color: darken($ui-base-color, 12%);
    }
  }
}

.display-case__case {
  background: $white;
}

.embed-modal .embed-modal__container .embed-modal__html {
  background: $white;
  border: 1px solid var(--background-border-color);

  &:focus {
    border-color: lighten($ui-base-color, 12%);
    background: $white;
  }
}

.react-toggle-track {
  background: $ui-primary-color;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background: lighten($ui-primary-color, 10%);
}

.react-toggle.react-toggle--checked:hover:not(.react-toggle--disabled)
  .react-toggle-track {
  background: lighten($ui-highlight-color, 10%);
}

// Change the default color used for the text in an empty column or on the error column
.empty-column-indicator,
.error-column {
  color: $primary-text-color;
  background: $white;
}

// Change the default colors used on some parts of the profile pages
.activity-stream-tabs {
  background: $white;
  border-bottom-color: lighten($ui-base-color, 8%);
}

.nothing-here,
.page-header,
.directory__tag > a,
.directory__tag > div {
  background: $white;
  border: 1px solid var(--background-border-color);
}

.picture-in-picture-placeholder {
  background: $white;
  border-color: lighten($ui-base-color, 8%);
  color: lighten($ui-base-color, 8%);
}

.directory__tag > a {
  &:hover,
  &:active,
  &:focus {
    background: $ui-base-color;
  }
}

.batch-table {
  &__toolbar,
  &__row,
  .nothing-here {
    border-color: lighten($ui-base-color, 8%);
  }
}

.status__wrapper-direct {
  background-color: color.change($ui-highlight-color, $alpha: 0.1);

  &:focus {
    background-color: color.change($ui-highlight-color, $alpha: 0.15);
  }
}

.compose-form__actions .icon-button.active,
.dropdown-button.active,
.language-dropdown__dropdown__results__item:focus,
.language-dropdown__dropdown__results__item.active,
.language-dropdown__dropdown__results__item:focus
  .language-dropdown__dropdown__results__item__common-name,
.language-dropdown__dropdown__results__item.active
  .language-dropdown__dropdown__results__item__common-name {
  color: $white;
}

.privacy-dropdown__option,
.visibility-dropdown__option {
  &:focus,
  &.active {
    --dropdown-text-color: #{$white};
  }
}

.compose-form .spoiler-input__input {
  color: lighten($ui-highlight-color, 8%);
}

.emoji-mart-search input,
.language-dropdown__dropdown .emoji-mart-search input,
.poll__option input[type='text'] {
  background: darken($ui-base-color, 10%);
}

.dropdown-button.warning {
  border-color: #b3261e;
  color: #b3261e;

  &.active {
    background-color: #f9dedc;
  }
}

.search__popout__menu__item {
  &:hover,
  &:active,
  &:focus,
  &.active {
    color: $white;

    mark,
    .icon-button {
      color: $white;
    }
  }
}

.inline-follow-suggestions {
  background-color: color.change($ui-highlight-color, $alpha: 0.1);
  border-bottom-color: color.change($ui-highlight-color, $alpha: 0.3);

  &.focusable:focus-visible {
    background: color.change($ui-highlight-color, $alpha: 0.1);
  }
}

.inline-follow-suggestions__body__scrollable__card {
  background: $white;
}

.inline-follow-suggestions__body__scroll-button__icon {
  color: $white;
}

a.sparkline {
  &:hover,
  &:focus,
  &:active {
    background: darken($ui-base-color, 10%);
  }
}

.dashboard__counters {
  & > div {
    & > a {
      &:hover,
      &:focus,
      &:active {
        background: darken($ui-base-color, 10%);
      }
    }
  }
}

.directory {
  &__tag {
    & > a {
      &:hover,
      &:focus,
      &:active {
        background: darken($ui-base-color, 10%);
      }
    }
  }
}

.strike-entry {
  &:hover,
  &:focus,
  &:active {
    background: darken($ui-base-color, 10%);
  }
}

.setting-text {
  background: darken($ui-base-color, 10%);
}

.report-dialog-modal__textarea {
  background: darken($ui-base-color, 10%);
}

.autosuggest-account {
  .display-name__account {
    color: $dark-text-color;
  }
}

.notification-group--annual-report {
  .notification-group__icon,
  .notification-group__main .link-button {
    color: var(--indigo-3);
  }
}

@supports not selector(::-webkit-scrollbar) {
  html {
    scrollbar-color: color.change($action-button-color, $alpha: 0.25)
      var(--background-border-color);
  }
}

.custom-scrollbars {
  ::-webkit-scrollbar-thumb {
    opacity: 0.25;
  }
}

kbd {
  background-color: color.change($ui-highlight-color, $alpha: 0.1);
}
