@use 'mastodon-yozakura/variables';
@use 'common';
@use 'mastodon-yozakura-modern/theme/index';
@use 'mastodon-yozakura-modern/diff';
@use 'modern';
@use 'modern-glitch-fixes';
@use 'modern-urusai-fixes';
