@use 'mastodon-holiday/variables';
@use 'common';
@use 'mastodon-holiday-modern/theme/index';
@use 'mastodon-holiday-modern/diff';
@use 'modern';
@use 'modern-glitch-fixes';
@use 'modern-urusai-fixes';
