.layout-multiple-columns
  #mastodon
  .columns-area
  .status__action-bar
  :not(i, .status__action-bar-spacer) {
  max-width: unset !important;
}

body.app-body.flavour-glitch > #mastodon .notification__message > span,
.notification__message > span > span,
.status__prepend > span,
.status__prepend > span > span {
  display: unset !important;
  flex-wrap: unset !important;
  gap: unset !important;
}

.status.collapsed .status__content {
  max-height: unset !important;
}

.status.collapsed .status__content .status__content__translate-button,
.status.collapsed .status__content .status-card,
.status.collapsed .status__content .video-player {
  display: none;
}

body.app-body.flavour-glitch > #mastodon .reactions-bar button:not(.active) {
  background: lighten($ui-base-color, 12%);
}

#mastodon .compose-form > .navigation-bar {
  margin-top: 10px !important;
}

#mastodon .compose-form {
  gap: 10px !important;
}

body.app-body.flavour-glitch
  > #mastodon
  .reactions-bar
  .emoji-picker-dropdown
  button {
  margin-left: 5px;
  padding: 6px;
}

.announcements__pagination {
  padding: 7px !important;

  span {
    position: relative !important;
    bottom: 7px !important;
  }
}

.layout-single-column
  .column-back-button--slim
  .column-back-button
  .announcements__pagination,
.layout-single-column .tabs-bar__wrapper .announcements__pagination {
  bottom: 0 !important;
}
