@mixin palette {
  // Custom palette for Gekka Modern theme
  --color-gekka-primary: #8cb155;
  --color-gekka-secondary: #b0ca71;
  --color-gekka-base: #fdfcf5;
  --color-gekka-lighter: #fcfaf2;
  --color-gekka-primary-text: #000;
  --color-gekka-secondary-text: #282c37;
}
