@mixin palette {
  --color-rose-pine-primary: #286983;
  --color-rose-pine-secondary: #56959f;
  --color-rose-pine-base: #faf4ed;
  --color-rose-pine-lighter: #f2ede8;
  --color-rose-pine-primary-text: #000;
  --color-rose-pine-secondary-text: #282c37;
}
