@use 'sass:color';

// Dependent colors
$black: #000;

$classic-base-color: #282c37;
$classic-primary-color: #b15c65;
$classic-secondary-color: #e8d3d1;
$classic-highlight-color: #b15c65;

$red-600: #b7253d; // Deep Carmine
$red-500: #df405a; // Cerise
$blurple-600: #b15c65; // Iris
$blurple-500: #b15c65; // Brand purple
$blurple-300: #e8d3d1; // Faded Blue
$grey-600: #feeeed; // Trout
$grey-100: #fcf5f7; // Topaz

@use '../variables' with (
  $ui-base-color: #2a232e,
  $ui-base-lighter-color: #38303e,
  $ui-primary-color: #2a232e,
  $ui-secondary-color: $classic-base-color,
  $ui-highlight-color: $classic-highlight-color,

  $darker-text-color: #eee0dd,
  $dark-text-color: #eee0dd,
  $secondary-text-color: #eee0dd,
  $highlight-text-color: #eee0dd,
  $action-button-color: #f89887,

  $inverted-text-color: #eee0dd,
  $lighter-text-color: color.adjust(#eee0dd, $lightness: -6%),
  $light-text-color: color.adjust(#eee0dd, $lightness: -40%),
  $ui-button-color: #eee0dd,
  $ui-button-background-color: $blurple-500,
  $ui-button-focus-background-color: $blurple-600,

  $ui-button-secondary-color: $grey-100,
  $ui-button-secondary-border-color: $grey-100,
  $ui-button-secondary-focus-border-color: $grey-600,
  $ui-button-secondary-focus-color: #eee0dd,

  $ui-button-tertiary-color: $blurple-300,
  $ui-button-tertiary-border-color: $blurple-300,
  $ui-button-tertiary-focus-background-color: $blurple-600,
  $ui-button-tertiary-focus-color: #eee0dd
);
