@mixin palette {
  --color-sakura-primary: #b15c65;
  --color-sakura-secondary: #b15c65;
  --color-sakura-base: #e7b8c2;
  --color-sakura-lighter: #eccad8;
  --color-sakura-primary-text: #000;
  --color-sakura-secondary-text: #282c37;
}
