@use 'sass:media-query';
@use './_base' as base;
@use './_dark' as dark;
@use './_light' as light;

:root {
  @include base.palette;
  
  @media (prefers-color-scheme: dark) {
    @include dark.tokens;
  }
  
  @media (prefers-color-scheme: light) {
    @include light.tokens;
  }
}
