@mixin palette {
  --color-holiday-primary: #6a8255;
  --color-holiday-secondary: #94536d;
  --color-holiday-base: #b5ccbe;
  --color-holiday-lighter: #d7e2d7;
  --color-holiday-primary-text: #000;
  --color-holiday-secondary-text: #282c37;
}
