@use '../../mastodon/theme/utils';

@mixin tokens {
  // Dark mode CSS tokens for Contrast Modern
  --color-bg-primary: #000000;
  --color-bg-secondary-solid: #1a1a1a;
  --color-bg-secondary-base: #262626;
  --color-bg-tertiary: #333333;
  --color-bg-brand-base: #0a0a0a;
  --color-bg-brand-base-hover: lighten(#0a0a0a, 10%);
  
  --color-text-primary: #ffffff;
  --color-text-secondary: #b3b3b3;
  --color-text-brand: #0a0a0a;
  --color-text-on-brand-base: #ffffff;
}


