@mixin palette {
  --color-yozakura-primary: #b15c65;
  --color-yozakura-secondary: #e8d3d1;
  --color-yozakura-base: #2a232e;
  --color-yozakura-lighter: #38303e;
  --color-yozakura-primary-text: #eee0dd;
  --color-yozakura-secondary-text: #eee0dd;
}
