@use '../../mastodon/theme/utils';

@mixin tokens {
  /* TEXT TOKENS */
  --color-text-primary: var(--color-sakura-primary-text);
  --color-text-secondary: #606984;
  --color-text-tertiary: #696d91;
  --color-text-on-inverted: var(--color-sakura-primary);
  --color-text-brand: var(--color-sakura-primary);
  --color-text-brand-soft: color-mix(
    in oklab,
    var(--color-text-primary),
    var(--color-text-brand)
  );
  --color-text-on-brand-base: var(--color-white);
  --color-text-brand-on-inverted: var(--color-sakura-secondary);
  --color-text-error: #df405a;
  --color-text-on-error-base: var(--color-white);
  --color-text-warning: #ffb900;
  --color-text-on-warning-base: var(--color-white);
  --color-text-success: #05df72;
  --color-text-on-success-base: var(--color-white);
  --color-text-disabled: #b4b6cb;
  --color-text-on-disabled: #8b8dac;
  --color-text-bookmark-highlight: var(--color-text-error);
  --color-text-favourite-highlight: var(--color-text-warning);
  --color-text-on-media: var(--color-white);
  --color-text-status-links: var(--color-sakura-primary);

  /* BACKGROUND TOKENS */
  --color-bg-primary: var(--color-white);
  --overlay-strength-secondary: 5%;
  --color-bg-secondary-base: var(--color-sakura-secondary-text);
  --color-bg-secondary: #{color-mix(
      in oklab,
      var(--color-bg-primary),
      var(--color-bg-secondary-base) var(--overlay-strength-secondary)
    )};
  --color-bg-secondary-solid: #{color-mix(
      in srgb,
      var(--color-bg-primary),
      var(--color-bg-secondary-base) var(--overlay-strength-secondary)
    )};
  --color-bg-tertiary: #{color-mix(
      in oklab,
      var(--color-bg-primary),
      var(--color-bg-secondary-base) calc(2 * var(--overlay-strength-secondary))
    )};

  --color-bg-ambient: var(--color-bg-primary);
  --color-bg-elevated: var(--color-bg-primary);
  --color-bg-inverted: var(--color-sakura-secondary-text);
  --color-bg-media-base: var(--color-black);
  --color-bg-media-strength: 65%;
  --color-bg-media: #{utils.css-alpha(
      var(--color-bg-media-base),
      var(--color-bg-media-strength)
    )};
  --color-bg-overlay: var(--color-bg-primary);
  --color-bg-disabled: #e0e3ff;

  --overlay-strength-brand: 8%;
  --color-bg-brand-base: var(--color-sakura-primary);
  --color-bg-brand-base-hover: color-mix(
    in oklab,
    var(--color-bg-brand-base),
    black var(--overlay-strength-brand)
  );
  --color-bg-brand-soft: #{utils.css-alpha(
      var(--color-bg-brand-base),
      calc(var(--overlay-strength-brand) * 1.5)
    )};
  --color-bg-brand-softer: #{utils.css-alpha(
      var(--color-bg-brand-base),
      var(--overlay-strength-brand)
    )};

  --overlay-strength-error: 12%;
  --color-bg-error-base: #df405a;
  --color-bg-error-base-hover: color-mix(
    in oklab,
    var(--color-bg-error-base),
    black var(--overlay-strength-error)
  );
  --color-bg-error-soft: #{utils.css-alpha(
      var(--color-bg-error-base),
      calc(var(--overlay-strength-error) * 1.5)
    )};
  --color-bg-error-softer: #{utils.css-alpha(
      var(--color-bg-error-base),
      var(--overlay-strength-error)
    )};

  --overlay-strength-warning: 10%;
  --color-bg-warning-base: #ffb900;
  --color-bg-warning-base-hover: color-mix(
    in oklab,
    var(--color-bg-warning-base),
    black var(--overlay-strength-warning)
  );
  --color-bg-warning-soft: #{utils.css-alpha(
      var(--color-bg-warning-base),
      calc(var(--overlay-strength-warning) * 1.5)
    )};
  --color-bg-warning-softer: #{utils.css-alpha(
      var(--color-bg-warning-base),
      var(--overlay-strength-warning)
    )};

  --overlay-strength-success: 15%;
  --color-bg-success-base: #05df72;
  --color-bg-success-base-hover: color-mix(
    in oklab,
    var(--color-bg-success-base),
    black var(--overlay-strength-success)
  );
  --color-bg-success-soft: #{utils.css-alpha(
      var(--color-bg-success-base),
      calc(var(--overlay-strength-success) * 1.5)
    )};
  --color-bg-success-softer: #{utils.css-alpha(
      var(--color-bg-success-base),
      var(--overlay-strength-success)
    )};

  /* BORDER TOKENS */
  --border-strength-primary: 18%;
  --color-border-primary: #{utils.css-alpha(
      var(--color-sakura-secondary-text),
      var(--border-strength-primary)
    )};
  --color-border-media: rgb(252 248 255 / 15%);
  --color-border-verified: rgb(220, 3, 240);
  --color-border-on-bg-secondary: #{utils.css-alpha(
      var(--color-sakura-secondary-text),
      calc(var(--border-strength-primary) / 1.5)
    )};
  --color-border-on-bg-brand-softer: var(--color-border-primary);
  --color-border-contrast: var(--color-text-primary);
}

@mixin contrast-overrides {
  --color-text-secondary: var(--color-sakura-secondary-text);
  --color-border-primary: #{utils.css-alpha(
      var(--color-sakura-secondary-text),
      30%
    )};
}


